/******************************************************************************
NOTE: This file was created by configuring the npx create-react-compand with
the --template tailwindcss flag. As we are not using this file at the moment,
we give full credit to the creators of react at https://react.dev/ and the
creators of tailwind css at https://tailwindcss.com/
******************************************************************************/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
