html, body {
    height: 100%;
    margin: 0;
}

.app {
    display: grid;
    grid-template-rows: 3fr 2fr;
    /*background-color: #aac;*/
    height: 100vh;
}

.current_cassette {
    display: grid;
    background-color: #aac;
    grid-template-columns: 9fr 1fr 10fr;
}

.song_selection {
    display: grid;
    background-color: #aca;
    grid-template-rows: 4em 1fr;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

