html, body {
    height: 100%;
    margin: 0;
}

.app {
    display: grid;
    grid-template-rows: 6fr 4em 3fr;
    /*background-color: #aac;*/
    height: 100vh;
}

.current_cassette {
    display: grid;
    /*background-color: #aac;*/
    grid-template-columns: 9fr 1fr 10fr;
}

.song_selection {
    /*background-color: #aca;*/
    height: 100%;
    position: relative;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

