/******************************************************************************
Module: ImageGrid.css
Creation Date: February 18th, 2025
Authors: Manoj Turaga
Contributors: Manoj Turaga, Ceres Botkin

Description:
    This module defines the styling for the ImageGrid Component
******************************************************************************/
/* Define the styling for the image grid parent container */
.grid-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Define the styling for the images that appear in the grid */
.grid-image {
    height: 80%;
    width: auto;
    cursor: pointer;
    box-sizing: border-box;
}

/* Define the styling for the cassette grid container class */
.cassette-grid-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Define the styling for the image in the cassette grid */
.cassette-grid-image {
    width: 40%;
    cursor: pointer;
    box-sizing: border-box;
}
